main {
    display: grid;
    grid-template-rows: 500px 1fr;
}

.mission-section {
    text-align: center;
    padding-top: 20%;
}

.bio-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.bio-section img {
    border-radius: 50%;
    width: 250px;
}
