.coffee-section h1 {
    background: rgb(105, 189, 105);
}

.coffee-section {
    background: yellow;
}

.activity-section {
    background-color: blue;
}

.eatery-section {
}

#save-adventure-button:hover:before {
    content: 'save to profile';
}
