.coffee-section h1 {
    background: rgb(105, 189, 105);
}

.coffee-section {
    background: yellow;
}

.activity-section {
    background-color: blue;
}

.eatery-section {
}

.save-button {
    position: relative;
    display: inline-block;
}

.save-button .hover-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.save-button:hover .hover-text {
    visibility: visible;
}

.new-button {
    position: relative;
    display: inline-block;
}

.new-button .hover-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.new-button:hover .hover-text {
    visibility: visible;
}
