.coffee-section h1 {
    color: white;
    font-size: 5vw;
}

.coffee-section p {
    color: white;
    /* padding-top: 30px; */
    font-size: 2.5vw;
}

.coffee-section {
    display: grid;
    grid-template-rows: 80px 200px;
    background-image: url(/assets/coffee.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    align-items: center;
}

.activity-section h1 {
    color: white;
    font-size: 5vw;
}

.activity-section p {
    color: white;
    padding-top: 20px;
    font-size: 2.5vw;
}

.activity-section {
    background-image: url(/assets/activity.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.eatery-section h1 {
    color: white;
    font-size: 5vw;
}
.eatery-section p {
    color: white;
    padding-top: 20px;
    font-size: 2.5vw;
}
.eatery-section {
    background-image: url(/assets/eatery3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.save-button {
    position: relative;
    display: inline-block;
}

.save-button .hover-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.save-button:hover .hover-text {
    visibility: visible;
}

.new-button {
    position: relative;
    display: inline-block;
}

.new-button .hover-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.new-button:hover .hover-text {
    visibility: visible;
}

main {
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    text-align: center;
}

main h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4vw;
}
