body {
    background-image: url(/assets/cropped-bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form:not(.inline) {
    width: 100%;
    margin: auto;
    max-width: 500px;
    border: 1px solid;
    background: RGB(219, 204, 181);
    padding: 20px 40px 40px 40px;

    display: grid;
    gap: 20px;
    border-radius: 20px;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--label-color);

    display: grid;
    gap: 5px;
    letter-spacing: 0.2rem;
}

form input,
form textarea,
form select,
form button {
    width: 100%;
    font-size: 1.15em;
    padding: 5px;
    letter-spacing: 0.1rem;
}

form input,
form select {
    height: 35px;
}

form input[type='file'] {
    padding: 0;
}

form select:invalid,
form *::placeholder {
    color: var(--placeholder-color);
}

form textarea {
    height: 70px;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    resize: vertical;
}

form input {
    font-family: 'Oswald', sans-serif;
}

form button {
    margin-top: 10px;
    height: 45px;
    background: #523a32;
    border: 0;
    font-weight: bold;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
}

form button:disabled {
    opacity: 0.5;
}
