ul {
    padding-top: 10px;
}

li {
    text-align: center;
    background: #523a32;
    margin: 10px;

    border-radius: 10px;
}

li button {
    gap: 10px;
    color: black;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-bottom: 3px;
}

span {
    font-size: 2vw;
    font-size: 2vh;
    color: rgb(137, 162, 55);
}

.bold {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #ffe7cb;
}
